.navbar-default {
    background: goldenrod !important;
}

/* .FlexContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 65%;
    background-color: #2f1d58;
    height: 80vh;
    overflow: auto;
    flex-direction: row;
}

.FlexContainer div {
    width: 500px;
    height: 200px;
    margin: 0px;
    background-color: lightblue;
} */